{% extends "base_generic.html" %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      {% block sidebar %}
        <ul class="sidebar-nav">
          <li><a href="{% url 'indexs' %}">主页</a></li>
          <li><a href="{% url 'Commodities' %}">商品列表</a></li>
          <li><a href="{% url 'anchors' %}">主播列表</a></li>
          <li><a href="{% url 'SalesRecords' %}">订单列表</a></li>
          <li><a href="{% url 'Categories' %}">商品品类列表</a></li>
          {% if user.is_authenticated %}
          <li>当前用户: {{ user.get_username }}</li>
          {% if perms.anchor.can_renew_anchor %}
          管理权限
          <li>-<a href="{% url 'anchor_create'%}">新增主播</a></li>
          {% endif %}
          <li><form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">登出账号</button>
            </form>
          </li>

        {% else %}
          <li><a href="{% url 'login'%}?next={{request.path}}">登錄</a></li>
        {% endif %}
        </ul>
      {% endblock %}
    </div>
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/anchor.css' %}" /> <!-- Link to your custom CSS -->


<div class="container mt-5">
  <h1 class="mb-3">主播列表</h1>

  {% if anchor_list %}
    <div class="list-group">
      {% for anchor in anchor_list %}
        <div class="list-group-item d-flex justify-content-between align-items-center">
          <a href="{{ anchor.get_absolute_url }}" class="flex-grow-1 mr-3">
            {{ anchor.name }} ({{ anchor.amount }}W粉丝)
          </a>
          <a href="{% url 'anchor-strategy' anchor.id %}" class="btn btn-primary">直播选品规划</a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="text-muted">There are no anchors available.</p>
  {% endif %}
  <div style="height: 600px; margin-top: 20px;">
    <iframe src="http://127.0.0.1:8000/echart?type=粉丝构成" style="width: 100%; height: 100%; border: none;"></iframe>
  </div>
</div>

{% endblock %}
